/* Utility margin classes */
.mb-3 {
    margin-bottom: 1.5rem !important;
}

.mt-3 {
    margin-top: 1.5rem !important;
}

html {
    font-size: 62.5%;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --red: #ed1c24;
    --grey: #5c5959;
    --bg-grey: #ffffff0f;
}

@font-face {
    font-family: inter;
    src: url("../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: apercu;
    src: url(../assets/fonts/Apercu-Font/Apercu-regular.otf);
}

@font-face {
    font-family: futurak;
    src: url("../assets/fonts/futurak.ttf");
}

@font-face {
    font-family: butler;
    src: url(../assets/fonts/butler/Butler_Webfont/Butler.woff2);
}

body {
    font-family: inter;
}

/* navbar started */
.main-logo {
    width: 165px;
}

nav>a {
    font-size: 1.8rem;
}

nav>button {
    font-size: 1.5rem;
}

.franchise-btn {
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    padding: 15px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.order-btn {
    border: 0px;
    background-color: var(--red);
    color: var(--white);
    padding: 15px 20px;
    border-radius: 30px;
    cursor: pointer;

}

.arrow-icon {
    font-size: 1.8rem;
    background-color: var(--white);
    color: var(--red);
    padding: 5px 10px;
    border-radius: 20px;
}

/* navbar ended */

/* carousel started */
.carousel {
    width: 100%;
}

/* carousel ended */

/* our-brands started */
.our-brands>.main-head {
    font-size: 4rem;
    font-family: apercu;
    font-weight: lighter;
    margin: 30px 0px 0px 0px;

}

.futurak {
    font-family: futurak;
    font-size: 5rem;
}

.our-brands>.para {
    font-size: 1.5rem;
    color: var(--gray);
    margin: 15px;
}

.brand-image {
    background-color: var(--white);
    border-radius: 10px;
    padding: 10px;
}

.brand-online-btn {
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 20px;
    padding: 10px 45px;
    color: var(--white);
}

/* our-brands ended */
/* Restaurant Franchise Started */
.section-franchise {
    position: relative;
    background-color: var(--bg-grey);
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.city {
    /* font-family : appercu; */
    font-size: 1.5rem;
    color: var(--red);
    letter-spacing: 0.7em;
}

.futurak2 {
    font-family: futurak;
    font-size: 3rem;
}

.para2 {
    font-size: 1.5rem;
    color: var(--grey);
    margin: 10px 0px;
}

.get-direction-btn {
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    padding: 15px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}

.franchise .arrow-icon {
    font-size: 1.5rem;
    background-color: var(--white);
    color: var(--red);
    padding: 3px 5px;
    border-radius: 10px;
}

.restaurant {
    margin-bottom: 50px;
}

/* Restaurant Franchise Ended */
/* Express Franchise Started */
.city2 {
    font-size: 1.2rem;
    color: var(--red);
    letter-spacing: 0.7em;
}

.para3 {
    font-size: 1.4rem;
    color: var(--white);
    margin: 23px 0px;
}

.futurak3 {
    font-family: futurak;
    font-size: 2rem;
}

.get-direction-btn2 {
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    padding: 15px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.3rem;
}

/* Express Franchise Ended */
/* Village Franchise Started */
.village {
    margin-top: 70px;
}

.village-bg {
    background-color: var(--bg-grey);
    margin-top: 100px;
    padding-bottom: 40px;
}

.para4 {
    font-size: 1.6rem;
    color: var(--white);
    /* margin: 23px 0px; */
}

.city3 {
    font-size: 2rem;
    letter-spacing: 0.7em;
    color: var(--red);
}

.get-direction-btn3 {
    border: 1px solid #28a745 !important;
    background-color: #28a745;
    color: var(--white);
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.3rem;
}

.get-direction-btn3:hover {
    border: 1px solid #28a745 !important;
    background-color: transparent;
    color: var(--white);
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.3rem;
}

.arrow-icon2 {
    font-size: 1rem;
    background-color: var(--white);
    color: #28a745;
    padding: 5px 10px;
    border-radius: 20px;
}

/* Village Franchise Ended */
/* Express Franchises New Started */
.container {
    margin: 50px auto;
    padding: 5rem;
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    color: var(--black);
    display: inline-block;
    width: 400px;
    vertical-align: top;
    margin: 1%;
    cursor: pointer;

}

.container:hover {
    margin: 50px auto;
    padding: 5rem;
    box-shadow: 0px 3px 10px rgb(250, 244, 244);
    border-radius: 1em;
    color: var(--white);
    display: inline-block;
    width: 400px;
    vertical-align: top;
    margin: 1%;
    cursor: pointer;
    border: 1px solid #28a745 !important;
    background-color: #28a745;
}


.opening {
    margin-top: 20px;
    color: var(--red);
    letter-spacing: 0.7em;
}

/* Express Franchises New Ended */
/* Footer Started */
.para5 {
    padding-bottom: 24px;
    padding-right: 0px;
    text-align: left;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    width: 370px;
}

.margin-left {
    margin-left: 40px;
}

footer a {
    text-decoration: none;
}

/* Footer Ended */
/* About us started */
/* Intro started */
.para6 {
    padding-bottom: 24px;
    padding-right: 0px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.para-7 {
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    width: 50%;
}
.express{
    margin:0px 0px 0px 500px;
}

/* Intro ended */
/* ABout us ended */